.round-btn{
    background-color: $white;
    width: 274px;
    height: 274px;

    border-radius: 100%;

    color: $blue;
    font-family: $bellafair;
    font-size: 32px;
    letter-spacing: 2px;
    text-transform: uppercase;

    cursor: pointer;
    transition: all .5s ease-in-out;

    @media screen and (max-width:500px) {
        width: 150px;
        height: 150px;
        font-size: 20px;
        letter-spacing: 1.25px;
    }

    &:hover{
        box-shadow:  0px 0px 0px 88px rgba(255,255,255,0.15);

        @media screen and (max-width: 991px) {
            box-shadow:  0px 0px 0px 50px rgba(255,255,255,0.15);
        }
    }
}

.nav-btn{
    font-family: $barlow-cond;
    font-size: 16px;
    text-transform: uppercase;

    cursor: pointer;

    padding-bottom: 12px;
    border-bottom: 3px solid rgba(255, 255, 255, 0);

    @media screen and (max-width: 500px) {
       padding-bottom: 8px;
    }

    &.active{
        border-bottom: 3px solid rgb(255, 255, 255);
    }

    &:hover{
        border-bottom: 3px solid #979797;
    }

}