@keyframes rotatePlanet{
    0%{
        transform:rotateZ(0);
    }
    100%{
        
        transform:rotateZ(-30deg);
    }
}

.main-container.destinations{

    margin-top: 75px;

    @media screen and (max-width: 991px) {
        margin-top: 40px;
    }

    @media screen and (max-width: 500px) {
        margin-top: 25px;
    }


    .l-container{

        grid-column: 1 / span 6;

        @media screen and (max-width: 991px) {
            grid-column: 1 / span 12;
            display: flex;
            flex-direction: column;
        }


        .planet-image{
            width: 90%;
            max-width: 445px;
            margin-left: 65px;

            animation: rotatePlanet 30s ease-in-out 2s infinite alternate; 

            @media screen and (max-width: 1370px) {
                width: 65%;
            }

            @media screen and (max-width: 991px) {
                animation: none;
                margin: 0 auto;
                max-width: 300px;
            }

        }
    }

    .r-container{
        margin-top: 100px;
        grid-column: 8 / span 5;

        @media screen and (max-width: 1370px) {
            margin-top: 30px;
        }

        @media screen and (max-width: 991px) {
            grid-column: 1 / span 12;
            margin-top: 50px;
        }

        @media screen and (max-width: 500px) {
            margin-top: 25px;
        }

        .dest-nav{
            display: flex;

            @media screen and (max-width: 991px) {
               justify-content: center;
            }

            .nav-btn{
                margin-right: 35px;

                &:last-of-type{
                    margin-right: 0;
                }
            }
        }

        .dest-name{
            text-transform: uppercase;
            margin-top: 40px;
            font-size: 100px;
            
            @media screen and (max-width: 991px) {
                text-align: center;
                font-size: 80px;
            }

            @media screen and (max-width: 500px) {
                margin-top: 20px;
            }
        }

        .dest-description{
            color: $tropical-blue;
            line-height: 28px;
        
            @media screen and (max-width: 991px) {
                text-align: center;
                padding: 8px 50px 0;
            }

            @media screen and (max-width: 500px) {
                line-height: 25px;
                padding: 0 55px;
            }
        }

        .dest-details{
            display: flex;
            border-top: 1px solid #383b4b;
            padding-top: 25px;
            margin-top: 50px;

            @media screen and (max-width: 991px) {
               padding-top: 28px;
               justify-content: center;
               padding-bottom: 60px;
            }

            @media screen and (max-width: 500px) {
                margin-top: 32px;
                padding-top: 32px;
                flex-direction: column;
            }

            .box{

                @media screen and (max-width: 991px) {
                    text-align: center;
                }

                @media screen and (max-width: 500px) {
                    width: 100%;
                }

                &:first-child{
                    margin-right: 80px;

                    @media screen and (max-width: 500px) {
                        margin-right: 0;
                        margin-bottom: 32px;
                    }
                }

                .subhead-2, .subhead-1{
                    text-transform: uppercase;
                }
                .subhead-2{
                    margin-bottom: 10px;
                    color: $tropical-blue;
                }
            }
        }
    }
}

